In [50]:
import pandas as pd
import csv
import time
import datetime as dt
import numpy as np

In [53]:
read_data = pd.read_csv('~/Research/Milind_Sohni_Research/data/cycles_shpr_sample.csv', delimiter = ',')

In [54]:
class Bus:
    """A class to define how many buses we need
    bus_no defines the number of the bus being used
    list_of_loops provides the index number of the loop
    this bus will travel on
    end_time provides the end time of the travel the bus 
    has done, i.e at what time bus will be free for another loop"""
    
    bus_no = 0
    list_of_loops = []
    end_time = dt.datetime(1900,1,1,0,0,0)
    
    def __init__(self, bus_no, end_time):
        """Initialize the bus_no and its end_time when you are declaring 
        a new bus is to be added to the system"""
        self.bus_no = bus_no
        self.end_time = end_time

In [55]:
list_of_buses = []

list_of_buses.append(Bus(1,read_data.iloc[0,5]))
#adding 0 to the list of loops this bus is running on
list_of_buses[0].list_of_loops.append(0)
print(list_of_buses)

[<__main__.Bus object at 0x7fed164b2710>]

In [56]:
#for converting a string object to time object so that it can be used for future refernces
read_data['arrival_time']= pd.to_datetime(read_data['arrival_time'], format= '%H:%M:%S' )
read_data['departure_time']= (pd.to_datetime(read_data['departure_time'], format= '%H:%M:%S' ))
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
scheduleid        9 non-null int64
cycle             9 non-null int64
s_eng             9 non-null object
d_eng             9 non-null object
departure_time    9 non-null datetime64[ns]
arrival_time      9 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 512.0+ bytes

In [20]:
print (read_data.iloc[0,5] )

1900-01-01 05:15:00

In [57]:
read_data.head()

,scheduleid,cycle,s_eng,d_eng,departure_time,arrival_time
0,38,1,KINHAVALI,SHAHAPUR,1900-01-01 04:00:00,1900-01-01 05:15:00
1,9,1,SHAHAPUR,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 05:00:00
2,18,1,MASAVANE,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 11:50:00
3,21,1,BHIVANDI,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 10:35:00
4,23,1,BHIVANDI,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 11:40:00

In [58]:
read_data.dtypes

scheduleid                 int64
cycle                      int64
s_eng                     object
d_eng                     object
departure_time    datetime64[ns]
arrival_time      datetime64[ns]
dtype: object

In [47]:
print(read_data)

   scheduleid  cycle      s_eng     d_eng        arrival_time  \
0          38      1  KINHAVALI  SHAHAPUR 1900-01-01 04:00:00
1           9      1   SHAHAPUR  SHAHAPUR 1900-01-01 04:30:00
2          18      1   MASAVANE  SHAHAPUR 1900-01-01 04:30:00
3          21      1   BHIVANDI  SHAHAPUR 1900-01-01 04:30:00
4          23      1   BHIVANDI  SHAHAPUR 1900-01-01 04:30:00
5          22      1     NASHIK  SHAHAPUR 1900-01-01 04:45:00
6          55      1      THANE  SHAHAPUR 1900-01-01 04:45:00
7          15      1   SHAHAPUR  SHAHAPUR 1900-01-01 05:00:00
8          33      1       MADH  SHAHAPUR 1900-01-01 05:00:00

       departure_time
0 1900-01-01 05:15:00
1 1900-01-01 05:00:00
2 1900-01-01 11:50:00
3 1900-01-01 10:35:00
4 1900-01-01 11:40:00
5 1900-01-01 11:00:00
6 1900-01-01 11:15:00
7 1900-01-01 06:50:00
8 1900-01-01 10:25:00

In [9]:
"""Do not run this code portion"""
no_buses = 0
#count the original number of buses from the starting times and routes
for itr in read_data.index:
    i=0
    #if it is the first cycle, we will need that bus at all cost
    if (read_data.iloc [i,1]):
        no_buses = no_buses + 1
print (no_buses)

9

In [10]:

"""to find out the number of buses create a dictionary, with the bus number as the index and the end time as a reference
that means
no_buses {1: 4:00:00}
where bus number is 1 and end time is 4:00:00
the end time is updated after a new cycle is added to the same bus, 
i.e. the bus makes one more loop and comes back to the same startion
The end time is updated to the end time of the new loop"""
no_buses = {}

#count the original number of buses from the starting times and routes
for itr in read_data.index:
    i=0
    #if it is the first cycle, we will need that bus at all cost
    """Assigning the first ending point """
    if (i==0):
        no_buses [i] = read_data.iloc [i,5]
    #"""start counting the buses"""
    #(later)keep the max time difference between two loops as 15 minutes"""
    
    else:
        if (no_buses[i].time() < (read_data.iloc[i,4])):
            print(i)
            no_buses[i] = read_data.iloc [i,4]
    
    #elif (no_buses[i] > read_data.iloc [i,4]):
        else:
            i = i+1
            no_buses[i] = read_data.iloc [i,4]
#print (no_buses)

In [59]:

"""to find out the number of buses create a class, with the bus number as the index and the end time as a reference
that means
no_buses {1: 4:00:00}
where bus number is 1 and end time is 4:00:00
the end time is updated after a new cycle is added to the same bus, 
i.e. the bus makes one more loop and comes back to the same startion
The end time is updated to the end time of the new loop"""

checkpoint = 0
#count the original number of buses from the starting times and routes
for itr in read_data.index:
    #print(itr)
    #if it is the first cycle, we will need that bus at all cost
    #"""start counting the buses"""
    #(later)keep the max time difference between two loops as 15 minutes"""
    #checkpoint is to check if there is some bus which arrives before new bus has to drive
    checkpoint = 0
    #i is 1 because we have already added a bus in the list, now we are going to add more buses
    i=1
    for bus in list_of_buses:
        if (bus.end_time > (read_data.iloc[itr,4])):
            print('i')
            i = i+1
            
        else:
            checkpoint = 1
            print('x')
            list_of_buses[i].list_of_loops.append(itr)
            list_of_buses[i].end_time = read_data.iloc [i,5]
            break
    if (checkpoint == 0):
        list_of_buses.append(Bus(i,read_data.iloc[itr,5]))
            
for bus in list_of_buses:
    print(bus.bus_no,bus.end_time)
    for bus_no in bus.list_of_loops:
        print(bus_no)

TypeError: Cannot compare type 'Timestamp' with type 'str'