In [1]:
import pandas as pd
import csv
import time
import datetime as dt
import numpy as np

In [25]:
read_data = pd.read_csv('~/Research/Milind_Sohni_Research/data/cycles_shpr_sample.csv', delimiter = ',')

In [26]:
class Bus:
    """A class to define how many buses we need
    bus_no defines the number of the bus being used
    list_of_loops provides the index number of the loop
    this bus will travel on
    end_time provides the end time of the travel the bus 
    has done, i.e at what time bus will be free for another loop"""
    
    bus_no = 0
    list_of_loops = []
    end_time = dt.datetime(1900,1,1,0,0,0)
    
    def __init__(self, bus_no, end_time):
        """Initialize the bus_no and its end_time when you are declaring 
        a new bus is to be added to the system"""
        self.bus_no = bus_no
        self.end_time = end_time

[<__main__.Bus object at 0x7fed164b2710>]

In [27]:
#for converting a string object to time object so that it can be used for future refernces
read_data['arrival_time']= pd.to_datetime(read_data['arrival_time'], format= '%H:%M:%S' )
read_data['departure_time']= (pd.to_datetime(read_data['departure_time'], format= '%H:%M:%S' ))

In [28]:
list_of_buses = []

list_of_buses.append(Bus(0,read_data.iloc[0,5]))
#adding 0 to the list of loops this bus is running on
list_of_buses[0].list_of_loops.append(0)

In [8]:
print (read_data.iloc[0,5] )

1900-01-01 05:15:00

In [9]:
"""Do not run this code portion"""
no_buses = 0
#count the original number of buses from the starting times and routes
for itr in read_data.index:
    i=0
    #if it is the first cycle, we will need that bus at all cost
    if (read_data.iloc [i,1]):
        no_buses = no_buses + 1
print (no_buses)

9

In [23]:
            
for bus in list_of_buses:
    print(bus.bus_no,bus.end_time)
    for bus_no in bus.list_of_loops:
        print(bus_no)

0 1900-01-01 05:15:00
0
1
1
1
1
1
1 1900-01-01 05:00:00
0
1
1
1
1
1
1 1900-01-01 05:00:00
0
1
1
1
1
1
1 1900-01-01 05:00:00
0
1
1
1
1
1
1 1900-01-01 05:00:00
0
1
1
1
1
1
1 1900-01-01 05:00:00
0
1
1
1
1
1

In [12]:
read_data.head()

,scheduleid,cycle,s_eng,d_eng,departure_time,arrival_time
0,38,1,KINHAVALI,SHAHAPUR,1900-01-01 04:00:00,1900-01-01 05:15:00
1,9,1,SHAHAPUR,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 05:00:00
2,18,1,MASAVANE,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 11:50:00
3,21,1,BHIVANDI,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 10:35:00
4,23,1,BHIVANDI,SHAHAPUR,1900-01-01 04:30:00,1900-01-01 11:40:00

In [58]:
read_data.dtypes

scheduleid                 int64
cycle                      int64
s_eng                     object
d_eng                     object
departure_time    datetime64[ns]
arrival_time      datetime64[ns]
dtype: object